.heading2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
}

.heading3 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 28px;
}


/* font-family: yorkten-slab-normal,sans-serif;
font-weight: 400;
font-style: normal; */

.label {
    font-family: yorkten-slab-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.squareChild:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.underlineHover:hover {
    text-decoration: underline;
}